<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>О компании</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="shortcut icon" type="image/x-icon" href="/static/images/favicon.ico">
    <link
        href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Montserrat:wght@400;500;600&display=swap"
        rel="stylesheet">
</head>

<body>
    <header class="header">
        <div class="header-inner">
            <div class="container">
                <div class="nav">
                    <ul class="logo">
                        <a href="/">
                            <img src="/static/images/logo.png" alt="logo">
                        </a>
                    </ul>
                    <ul class="nav-list">
                        <li class="nav-item dropdown">
                            <a href="/schedule">Расписание</a>
                            <ul class="dropdown-menu">
                                <li><a href="https://citybus35.ru">Умный транспорт</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a href="/payment">Оплата проезда</a>
                            <ul class="dropdown-menu">
                                <li><a href="/price">Стоимость проезда</a></li>
                                <li><a href="https://bilet.nspk.ru">Оплата банковской картой</a></li>
                                <li><a href="https://e-vologda.com">Электронная Вологда</a></li>
                                <li><a href="https://t-karta.ru">История поездок (кабинет)</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a href="/service">Услуги</a>
                            <ul class="dropdown-menu">
                                <li><a href="/charter">Заказные перевозки</a></li>
                                <li><a href="/passenger">Пассажирские перевозки</a></li>
                                <li><a href="/children">Перевозка детей</a></li>
                            </ul>
                        </li>
                        <a href="/work" class="nav-item">Работа у нас</a>
                        <a href="https://yc.mupatp1.ru" class="nav-item">Учебный центр</a>
                        <li class="nav-item dropdown">
                            <a href="/about-us">О компании</a>
                            <ul class="dropdown-menu">
                                <li><a href="/news">Новости</a></li>
                                <li><a href="/documents">Документы</a></li>
                                <li><a href="/anti-corruption">Противодействие коррупции</a></li>
                                <li><a href="/contact">Контакты</a></li>
                                <li><a href="https://вашбилет.рф">Ваш билет</a></li>
                                <li><a href="/autopark">Автопарк</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a href="/official-information">Официальная информация</a>
                            <ul class="dropdown-menu">
                                <li><a href="/info-for-police-vologda">Информация от <br> прокуратуры г.
                                        Вологды</a></li>
                            </ul>
                        </li>
                        <a href="/your-ticket" class="nav-item">Ваш билет</a>
                    </ul>
                </div>
            </div>
        </div>
    </header>
    <main class="page-content">
        <div class="container">
            <nav class="breadcrumbs">
                <ul>
                    <li><a href="/">Главная</a></li>
                    <li><span>О компании</span></li>
                </ul>
            </nav>
            <div class="content-inner">
                <h1>О компании</h1>

                <!-- История -->
                <section class="history">
                    <h2>История</h2>
                    <p>
                        «ПАТП № 1» - это крупнейший перевозчик пассажиров в городе Вологде и одно из самых значимых
                        предприятий для областной столицы. Парк «ПАТП № 1» насчитывает порядка 130 автобусов.
                        Предприятие обслуживает 15 маршрутов общей протяженностью свыше 173 километров. Ежедневно в
                        Вологде нашими автобусами перевозится более 50 тысяч пассажиров, а это 18 миллионов пассажиров в
                        год. На предприятии в настоящий момент работает около 500 человек.
                    </p>
                    <p>
                        История предприятия насчитывает уже более 80 лет. Все началось в 1939 году, когда в Вологде была
                        основана Вологодская автотранспортная контора. Первоначально АТК размещалась на Красноармейской
                        набережной (в настоящее время территория СКДМ). В то время в парк предприятия входили первые
                        советские автобусы марки ЗИС-8 - еще с деревянными кузовом и сиденьями.
                    </p>
                    <p>
                        В 1955 году Вологодская АТК переместилась в другое место - на Пошехонское шоссе, 4 (территория
                        бывшего таксопарка) и была переименована в пассажирское автохозяйство (ПАХ). К тому времени парк
                        предприятия составлял уже 162 автобуса марок ЗИС-155, РАФ, ТА-6 и ПАЗ-651. Позже ПАХ
                        переместилось на улицу Чернышевского, 135 и переименовано в «Автоколонну № 1117». В 1986 году от
                        нее отделилось ПАТП № 2, которое осталось на старой производственной базе, а само Предприятие
                        обрело привычный уже ныне дом на Мудрова, 31.
                    </p>
                    <p>
                        Здесь для нужд предприятия была построена производственная база – гараж на 200 автобусов с
                        закрытой стоянкой на 80 автобусов, мастерские, посты диагностики и технического обслуживания.
                        Вскоре были построены и оборудованы новые ремонтные цеха, склады, смотровые канавы с
                        канализацией. На предприятии реконструировали все вентиляционные системы и промышленно-ливневую
                        канализацию, построили новую зону для ремонта автобусов.
                    </p>
                    <p>
                        В 1992 году «Автоколонна № 1117» перешла из федеральной собственности в областную, а в 1995 году
                        - в муниципальную. Тогда же она была переименована в муниципальное унитарное пассажирское
                        автотранспортное предприятие № 1 (МУ ПАТП № 1).
                    </p>
                    <p>
                        Сейчас перевозки обслуживает созданное в 2017 году «ПАТП № 1». Стабильное
                        финансово-экономическое положение позволяет ПАТП № 1 не только выполнять поставленные перед ним
                        производственные задачи, но и проводить целенаправленную социальную политику в коллективе.
                        Администрация предприятия выполняет принятые на себя обязательства по выплате заработной платы,
                        а также решает социальные вопросы. Следует отметить, что заработная плата на предприятии всегда
                        выплачивается в полном объеме и в сроки. Кроме того, реализуются различные социальные программы:
                        проводятся торжественные мероприятия к праздничным датам, детям работников ежегодно
                        предоставляются путевки в детские оздоровительные лагеря, и т.д.
                    </p>
                    <p>
                        Администрация предприятия успешно решает поставленные перед ней задачи. Об этом свидетельствуют
                        производственные показатели за ряд последних лет.
                    </p>
                    <p>
                        На основании вышеизложенного можно сделать вывод, что ПАТП № 1, работая в социальном секторе
                        экономики, не смотря на не простую финансово-экономическую ситуацию, продолжает динамично
                        развиваться, а также вносить посильный вклад в социально-экономическое развитие города Вологды.
                    </p>
                </section>

                <!-- О нас -->
                <section class="about-us">
                    <h2>О нас</h2>
                    <p>
                        В настоящий момент городские автобусные пассажирские перевозки населения г. Вологды осуществляют
                        АО “ПАТП № 1”.
                    </p>
                    <p>
                        Ежедневно в городе Вологда автобусами «ПАТП № 1» перевозится около 50 тысяч пассажиров, а это
                        более 18 миллионов пассажиров в год. Эксплуатационный парк автобусов составляет порядка 130
                        единиц, численность работающих - около 500 человек.
                    </p>
                    <p>
                        В настоящее время «ПАТП № 1», являясь частью инфраструктуры города, играет важную роль в его
                        жизнеобеспечении. Подвижность населения города, работа промышленных предприятий, а также
                        предприятий и учреждений социальной сферы напрямую зависит от городского пассажирского
                        транспорта.
                    </p>
                    <p>
                        Начиная с 2012 года Предприятие реализует проект безналичной оплаты проезда, постоянно
                        совершенствуя его, предлагая новые решения. В 2019 году «ПАТП № 1» первым предоставило своим
                        пассажирам возможность оплаты проезда банковскими картами.
                    </p>
                    <p>
                        Значительные суммы налоговых платежей в городской, областной и федеральный бюджеты, а также
                        платежей во внебюджетные фонды, уплачиваемых Предприятием без задержек, в сроки, установленные
                        законодательством, свидетельствуют о том, что «ПАТП № 1» вносит свой весомый вклад в экономику
                        города и области.
                    </p>
                    <p>
                        Заработная плата на Предприятии всегда выплачивается в полном объеме и в сроки, определенные
                        Положением по оплате труда. Кроме того, реализуются различные социальные программы: проводятся
                        торжественные мероприятия и осуществляются выплаты к праздничным датам, создана Ветеранская
                        организация, объединяющая более 100 человек, оказывается материальная помощь работникам,
                        ветеранам производства и т.д.
                    </p>
                    <p>
                        Ежегодно лучшие работники «ПАТП № 1» награждаются Главой города Вологды, Губернатором
                        Вологодской области, ведомственными и правительственными наградами.
                    </p>
                    <p>
                        Предприятие содержит здравпункт. Организация профосмотров, диспансеризация, неотложная помощь,
                        медосмотры, вакцинация, физиопроцедуры – основные направления деятельности этого подразделения.
                        Материальное поощрение здорового образа жизни, путевки в санатории, направление на обследование
                        и лечение в городские клиники – практическая забота администрации о работниках автопредприятия.
                    </p>
                    <p>
                        Ежедневно, кроме выходных дней, с 06 до 15 часов в «ПАТП № 1» работает столовая. Разнообразие
                        блюд и недорогое меню привлекают в столовую и сторонних посетителей.
                    </p>
                    <p>
                        Для сотрудников Предприятия организована доставка на работу и с работы служебным транспортом,
                        действует бесплатный проезд по городу на автобусах ПАТП № 1, все работники трудоустроены
                        официально, гарантирован полный соцпакет, ведется учет льготного стажа для возможности выхода на
                        досрочную пенсию.
                    </p>
                </section>

                <!-- Виды деятельности -->
                <section class="activities">
                    <h2>Виды деятельности</h2>
                    <ul class="activities-list">
                        <li>Перевозка пассажиров на городских маршрутах.</li>
                        <li>Перевозка пассажиров по отдельным заказам граждан и организаций.</li>
                        <li>Оказание услуг юридическим и физическим лицам в техническом обслуживании и ремонте
                            транспортных средств (ТС); услуг стоянки ТС на территории Предприятия.</li>
                        <li>Осуществление рекламной деятельности.</li>
                        <li>Обучение водителей на категории С и D в Учебном центре Предприятия.</li>
                        <li>Оказание услуг юридическим лицам по предрейсовому, послерейсовому, а также предсменному и
                            послесменному медосмотрам работников.</li>
                    </ul>
                </section>
            </div>
        </div>
    </main>
    <footer>
        <div class="footer-inner">
            <div class="footer-up">
                <div class="container ds-flx">
                    <div class="footer-block">
                        <div class="title-footer">О нас</div>
                        <div class="about-footer">
                            <div class="footer-list">
                                <div class="contact-item">
                                    <img src="/static/images/phone-fff.svg" alt="">
                                    <div><a href="tel:+78172556670">+7 (8172) 55-66-70</a></div>
                                </div>
                                <div class="contact-item">
                                    <img src="/static/images/time-fff.svg" alt="">
                                    <div>ПН-ПТ 08:00-17:00</div>
                                </div>
                                <div class="contact-item">
                                    <img src="/static/images/email-fff.svg" alt="">
                                    <div><a href="https://e.mail.ru/compose?To=mail@mupatp1.ru">mail@mupatp1.ru</a></div>
                                </div>
                                <div class="contact-item">
                                    <img src="/static/images/geo-fff.svg" alt="">
                                    <div><a href="#contact">ул. Мудрова, 31, Вологда</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="footer-block">
                        <div class="title-footer">Последние публикации</div>
                        <div class="footer-list">
                            <a href="/news">
                                <div class="last-news">
                                    <img src="/static/images/news-item-1.png" alt="">
                                    <div class="last-news-item">
                                        <div class="last-news-title">В учебном классе ПАТП-1 в Вологде прошла встреча
                                            специалистов центра занятости с представителями компании.</div>
                                        <div class="last-news-date">17/01/2025</div>
                                    </div>
                                </div>
                            </a>
                            <a href="/news">
                                <div class="last-news">
                                    <img src="/static/images/news-item-3.png" alt="">
                                    <div class="last-news-item">
                                        <div class="last-news-title">ПАТП №1 ждёт женщин-водителей на работу! И если кто
                                            скажет, что водитель — это не женская работа, то это вовсе не так.</div>
                                        <div class="last-news-date">22/01/2025</div>
                                    </div>
                                </div>
                            </a>
                            <a href="/news">
                                <div class="last-news">
                                    <img src="/static/images/news-item-2.jpeg" alt="">
                                    <div class="last-news-item">
                                        <div class="last-news-title">Для более комфортной и быстрой оплаты во всех
                                            трёхдверных автобусах ПАТП № 1 будут работать четыре терминала.</div>
                                        <div class="last-news-date">07/02/2025</div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="company-item">
                        <a href="https://vk.com/patp1vologda" class="vk-icon">
                            <img src="/static/images/vk.svg" alt="VK" class="vk-default">
                            <img src="/static/images/vk-fff.svg" alt="VK White" class="vk-hover">
                        </a>
                    </div>
                </div>
            </div>
            <div class="footer-low">
                <div class="container">
                    <div class="nav">
                        <ul class="nav-list">
                            <a href="/schedule" class="nav-item">Расписание</a>
                            <a href="/price" class="nav-item">Оплата проезда</a>
                            <a href="/service" class="nav-item">Услуги</a>
                            <a href="/work" class="nav-item">Работа у нас</a>
                            <a href="https://yc.mupatp1.ru" class="nav-item">Учебный центр</a>
                            <a href="/about-us" class="nav-item">О компании</a>
                            <a href="official-information" class="nav-item">Офицальная информация</a>
                            <a href="/your-ticket" class="nav-item">Ваш билет</a>
                        </ul>
                        <ul class="copyright">
                            ©2025 Rogalev
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </footer>
</body>

</html>