<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Информация от Прокуратуры г. Вологда</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="shortcut icon" type="image/x-icon" href="/static/images/favicon.ico">
    <link
        href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Montserrat:wght@400;500;600&display=swap"
        rel="stylesheet">
</head>

<body>
    <header class="header">
        <div class="header-inner">
            <div class="container">
                <div class="nav">
                    <ul class="logo">
                        <a href="/">
                            <img src="/static/images/logo.png" alt="logo">
                        </a>
                    </ul>
                    <ul class="nav-list">
                        <li class="nav-item dropdown">
                            <a href="/schedule">Расписание</a>
                            <ul class="dropdown-menu">
                                <li><a href="https://citybus35.ru">Умный транспорт</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a href="/payment">Оплата проезда</a>
                            <ul class="dropdown-menu">
                                <li><a href="/price">Стоимость проезда</a></li>
                                <li><a href="https://bilet.nspk.ru">Оплата банковской картой</a></li>
                                <li><a href="https://e-vologda.com">Электронная Вологда</a></li>
                                <li><a href="https://t-karta.ru">История поездок (кабинет)</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a href="/service">Услуги</a>
                            <ul class="dropdown-menu">
                                <li><a href="/charter">Заказные перевозки</a></li>
                                <li><a href="/passenger">Пассажирские перевозки</a></li>
                                <li><a href="/children">Перевозка детей</a></li>
                            </ul>
                        </li>
                        <a href="/work" class="nav-item">Работа у нас</a>
                        <a href="https://yc.mupatp1.ru" class="nav-item">Учебный центр</a>
                        <li class="nav-item dropdown">
                            <a href="/about-us">О компании</a>
                            <ul class="dropdown-menu">
                                <li><a href="/news">Новости</a></li>
                                <li><a href="/documents">Документы</a></li>
                                <li><a href="/anti-corruption">Противодействие коррупции</a></li>
                                <li><a href="/contact">Контакты</a></li>
                                <li><a href="https://вашбилет.рф">Ваш билет</a></li>
                                <li><a href="/autopark">Автопарк</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a href="/official-information">Официальная информация</a>
                            <ul class="dropdown-menu">
                                <li><a href="/info-for-police-vologda">Информация от <br> прокуратуры г.
                                        Вологды</a></li>
                            </ul>
                        </li>
                        <a href="/your-ticket" class="nav-item">Ваш билет</a>
                    </ul>
                </div>
            </div>
        </div>
    </header>
    <main class="page-content">
        <div class="container">
            <nav class="breadcrumbs">
                <ul>
                    <li><a href="index.html">Главная</a></li>
                    <li><a href="official-information.html">Официальная информация</a></li>
                    <li><span>Информация от Прокуратуры г. Вологда</span></li>
                </ul>
            </nav>
            <div class="content-inner">
                <h1>Информация от Прокуратуры г. Вологда</h1>

                <div class="official-information-list">
                    <div class="document-item">
                        <a href="/uploads/Разъяснения Прокуратуры от 28.11.2023.pdf">Разъяснения Прокуратуры от 28.11.2023</a>
                    </div>
                    <div class="document-item">
                        <a href="/uploads/Разъяснения Прокуратуры от 26.10.2023.pdf">Разъяснения Прокуратуры от 26.10.2023</a>
                    </div>
                    <div class="document-item">
                        <a href="/uploads/Разъяснения Прокуратуры от 23.10.2023.pdf">Разъяснения Прокуратуры от 23.10.2023</a>
                    </div>
                    <div class="document-item">
                        <a href="https://disk.yandex.ru/i/RWUYai3AgpOKag">Видеоролик- социальная реклама "Профилактика дистанционного мошенничества"</a>
                    </div>
                    <div class="document-item">
                        <a href="/uploads/Разъяснения Прокуратуры от 18.08.2023.pdf">Разъяснения Прокуратуры от 18.08.2023</a>
                    </div>
                    <div class="document-item">
                        <a href="https://disk.yandex.ru/i/vHM-qFz2LpzcyQ">Видеоролик - социальная реклама "Легкие деньги"</a>
                    </div>
                    <div class="document-item">
                        <a href="/uploads/Разъяснения Прокуратуры от 18.07.2023.pdf">Разъяснения Прокуратуры от 18.07.2023</a>
                    </div>
                    <div class="document-item">
                        <a href="/uploads/Разъяснения Прокуратуры от 04.04.2023.pdf">Разъяснения Прокуратуры от 04.04.2023</a>
                    </div>
                    <div class="document-item">
                        <a href="/uploads/Разъяснения Прокуратуры от 01.03.2023.pdf">Разъяснения Прокуратуры от 01.03.2023</a>
                    </div>
                    <div class="document-item">
                        <a href="/uploads/06 02 23 ит  технологии.pptx">Меры поддержки для IT-компаний</a>
                    </div>
                    <div class="document-item">
                        <a href="/uploads/06 02 23 меры поддержки.pptx">Меры государственной поддержки организаций и ИП</a>
                    </div>
                    <div class="document-item">
                        <a href="/uploads/24.11.2022 услуги ЖКХ.pptx">Повышение тарифов на ЖКУ произойдет с 1 декабря 2022 года</a>
                    </div>
                    <div class="document-item">
                        <a href="/uploads/24.11.2022 пособия.pptx">Правительство Российской Федерации утвердило размеры пособий по безработице на 2023
                            год</a>
                    </div>
                    <div class="document-item">
                        <a href="/uploads/24.11.2022 невыплата зарплаты.pptx">Массовая невыплата зарплаты свыше одного месяца будет являться основанием для
                            проведения внеплановой проверки (постановление Правительства РФ от 10.11.2022 N 2036)</a>
                    </div>
                    <div class="document-item">
                        <a href="/uploads/24.11.2022 авиаперелет.pptx">При проезде к месту лечения отдельных категорий детей-инвалидов предоставляется
                            возможность воспользоваться авиаперелетом</a>
                    </div>
                    <div class="document-item">
                        <a href="/uploads/24.11.2022 туристы.pptx">С 1 марта 2023 г. заказчики туристского продукта смогут получать необходимую и
                            достоверную информацию о таком продукте в единой информационной системе электронных
                            путевок</a>
                    </div>
                    <div class="document-item">
                        <a href="/uploads/24.11.2022 госконтракт.pptx">Установлены предельные размеры обеспечения исполнения госконтрактов, условиями
                            которых предусматривается выплата авансового платежа, подлежащего казначейскому
                            сопровождению</a>
                    </div>
                    <div class="document-item">
                        <a href="/uploads/Разъяснения о правовых аспектах складывающейся внешнеполитической и экономической ситуации, 31 октября 2022 года.pdf"> Разъяснения о правовых аспектах складывающейся внешнеполитической и экономической
                            ситуации, 31 октября 2022 года</a>
                    </div>
                    <div class="document-item">
                        <a href="/uploads/Президентом Российской Федерации установлено звание «Мать-героиня».pdf">Президентом Российской Федерации установлено звание «Мать-героиня»</a>
                    </div>
                    <div class="document-item">
                        <a href="/uploads/Утверждены изменения в программу льготного кредитования субъектов МСП и самозанятых лиц.pdf">Утверждены изменения в программу льготного кредитования субъектов МСП и самозанятых
                            лиц</a>
                    </div>
                    <div class="document-item">
                        <a href="/uploads/Перечень товаров, в отношении которых разрешен параллельный импорт.pdf">Перечень товаров, в отношении которых разрешен параллельный импорт</a>
                    </div>
                    <div class="document-item">
                        <a href="/uploads/О применении специальных экономических мер в финансовой и топливно-энергетической сферах.pdf">О применении специальных экономических мер в финансовой и топливно-энергетической
                            сферах</a>
                    </div>
                    <div class="document-item">
                        <a href="/uploads/Об ответственности за сотрудничество с иностранным государством или иностранной организацией.pdf">Об ответственности за сотрудничество с иностранным государством или иностранной
                            организацией</a>
                    </div>
                    <div class="document-item">
                        <a href="https://vk.com/video/@patp1vologda?z=video-170941768_456239056%2Fclub170941768%2Fpl_-170941768_-2">Видеоролик по профилактике падения детей из окон "Открытые окна"</a>
                    </div>
                    <div class="document-item">
                        <a href="/uploads/Школьников бесплатно обучат языкам программирования.pdf">Школьников бесплатно обучат языкам программирования</a>
                    </div>
                    <div class="document-item">
                        <a href="/uploads/Продлены меры господдержки семей, имеющих детей, в части погашения обязательств по ипотечным жилищным кредитам (займам).pdf">Продлены меры господдержки семей, имеющих детей, в части погашения обязательств по
                            ипотечным жилищным кредитам (займам)</a>
                    </div>
                    <div class="document-item">
                        <a href="/uploads/Новые правила расчета неустойки за нарушение условий договора о долевом строительстве..pptx">Новые правила расчета неустойки за нарушение условий договора о долевом
                            строительстве. (постановление Правительство Российской Федерации от 17.05.2022 № 890)</a>
                    </div>
                    <div class="document-item">
                        <a href="/uploads/О мерах уголовно-правового характера по недопущению фейковой информации о деятельности Вооруженных Сил и госструктур России.pdf">О мерах уголовно-правового характера по недопущению фейковой информации о
                            деятельности Вооруженных Сил и госструктур России</a>
                    </div>
                    <div class="document-item">
                        <a href="/uploads/Постановлением Правительства Российской Федерации от 28 марта 2022 года No497 на период до 01 октября 2022 года введен мораторий на возбуждение дел о банкротстве.pdf">Постановлением Правительства Российской Федерации от 28 марта 2022 года No497 на
                            период до 01 октября 2022 года введен мораторий на возбуждение дел о банкротстве</a>
                    </div>
                    <div class="document-item">
                        <a href="/uploads/Граждане, прервавшие свое обучение за границей, могут подтвердить своё образование в упрощенном порядке.pdf">Граждане, прервавшие свое обучение за границей, могут подтвердить своё образование в
                            упрощенном порядке</a>
                    </div>
                    <div class="document-item">
                        <a href="/uploads/«Не стань жертвой мошенничества с банковской картой».pdf">«Не стань жертвой мошенничества с банковской картой»</a>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer>
        <div class="footer-inner">
            <div class="footer-up">
                <div class="container ds-flx">
                    <div class="footer-block">
                        <div class="title-footer">О нас</div>
                        <div class="about-footer">
                            <div class="footer-list">
                                <div class="contact-item">
                                    <img src="/static/images/phone-fff.svg" alt="">
                                    <div><a href="tel:+78172556670">+7 (8172) 55-66-70</a></div>
                                </div>
                                <div class="contact-item">
                                    <img src="/static/images/time-fff.svg" alt="">
                                    <div>ПН-ПТ 08:00-17:00</div>
                                </div>
                                <div class="contact-item">
                                    <img src="/static/images/email-fff.svg" alt="">
                                    <div><a href="https://e.mail.ru/compose?To=mail@mupatp1.ru">mail@mupatp1.ru</a></div>
                                </div>
                                <div class="contact-item">
                                    <img src="/static/images/geo-fff.svg" alt="">
                                    <div><a href="#contact">ул. Мудрова, 31, Вологда</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="footer-block">
                        <div class="title-footer">Последние публикации</div>
                        <div class="footer-list">
                            <a href="/news">
                                <div class="last-news">
                                    <img src="/static/images/news-item-1.png" alt="">
                                    <div class="last-news-item">
                                        <div class="last-news-title">В учебном классе ПАТП-1 в Вологде прошла встреча
                                            специалистов центра занятости с представителями компании.</div>
                                        <div class="last-news-date">17/01/2025</div>
                                    </div>
                                </div>
                            </a>
                            <a href="/news">
                                <div class="last-news">
                                    <img src="/static/images/news-item-3.png" alt="">
                                    <div class="last-news-item">
                                        <div class="last-news-title">ПАТП №1 ждёт женщин-водителей на работу! И если кто
                                            скажет, что водитель — это не женская работа, то это вовсе не так.</div>
                                        <div class="last-news-date">22/01/2025</div>
                                    </div>
                                </div>
                            </a>
                            <a href="/news">
                                <div class="last-news">
                                    <img src="/static/images/news-item-2.jpeg" alt="">
                                    <div class="last-news-item">
                                        <div class="last-news-title">Для более комфортной и быстрой оплаты во всех
                                            трёхдверных автобусах ПАТП № 1 будут работать четыре терминала.</div>
                                        <div class="last-news-date">07/02/2025</div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="company-item">
                        <a href="https://vk.com/patp1vologda" class="vk-icon">
                            <img src="/static/images/vk.svg" alt="VK" class="vk-default">
                            <img src="/static/images/vk-fff.svg" alt="VK White" class="vk-hover">
                        </a>
                    </div>
                </div>
            </div>
            <div class="footer-low">
                <div class="container">
                    <div class="nav">
                        <ul class="nav-list">
                            <a href="/schedule" class="nav-item">Расписание</a>
                            <a href="/price" class="nav-item">Оплата проезда</a>
                            <a href="/service" class="nav-item">Услуги</a>
                            <a href="/work" class="nav-item">Работа у нас</a>
                            <a href="https://yc.mupatp1.ru" class="nav-item">Учебный центр</a>
                            <a href="/about-us" class="nav-item">О компании</a>
                            <a href="official-information" class="nav-item">Офицальная информация</a>
                            <a href="/your-ticket" class="nav-item">Ваш билет</a>
                        </ul>
                        <ul class="copyright">
                            ©2025 Rogalev
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </footer>
</body>

</html>