<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Официальная информация</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="shortcut icon" type="image/x-icon" href="/static/images/favicon.ico">
    <link
        href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Montserrat:wght@400;500;600&display=swap"
        rel="stylesheet">
</head>

<body>
    <header class="header">
        <div class="header-inner">
            <div class="container">
                <div class="nav">
                    <ul class="logo">
                        <a href="/">
                            <img src="/static/images/logo.png" alt="logo">
                        </a>
                    </ul>
                    <ul class="nav-list">
                        <li class="nav-item dropdown">
                            <a href="/schedule">Расписание</a>
                            <ul class="dropdown-menu">
                                <li><a href="https://citybus35.ru">Умный транспорт</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a href="/payment">Оплата проезда</a>
                            <ul class="dropdown-menu">
                                <li><a href="/price">Стоимость проезда</a></li>
                                <li><a href="https://bilet.nspk.ru">Оплата банковской картой</a></li>
                                <li><a href="https://e-vologda.com">Электронная Вологда</a></li>
                                <li><a href="https://t-karta.ru">История поездок (кабинет)</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a href="/service">Услуги</a>
                            <ul class="dropdown-menu">
                                <li><a href="/charter">Заказные перевозки</a></li>
                                <li><a href="/passenger">Пассажирские перевозки</a></li>
                                <li><a href="/children">Перевозка детей</a></li>
                            </ul>
                        </li>
                        <a href="/work" class="nav-item">Работа у нас</a>
                        <a href="https://yc.mupatp1.ru" class="nav-item">Учебный центр</a>
                        <li class="nav-item dropdown">
                            <a href="/about-us">О компании</a>
                            <ul class="dropdown-menu">
                                <li><a href="/news">Новости</a></li>
                                <li><a href="/documents">Документы</a></li>
                                <li><a href="/anti-corruption">Противодействие коррупции</a></li>
                                <li><a href="/contact">Контакты</a></li>
                                <li><a href="https://вашбилет.рф">Ваш билет</a></li>
                                <li><a href="/autopark">Автопарк</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a href="/official-information">Официальная информация</a>
                            <ul class="dropdown-menu">
                                <li><a href="/info-for-police-vologda">Информация от <br> прокуратуры г.
                                        Вологды</a></li>
                            </ul>
                        </li>
                        <a href="/your-ticket" class="nav-item">Ваш билет</a>
                    </ul>
                </div>
            </div>
        </div>
    </header>
    <main class="page-content">
        <div class="container">
            <nav class="breadcrumbs">
                <ul>
                    <li><a href="/">Главная</a></li>
                    <li><span>Официальная информация</span></li>
                </ul>
            </nav>
            <div class="content-inner">
                <h1>Официальная информация</h1>
    
                <div class="official-information-list">
                    <div class="document-item">
                        <a href="/uploads/Материалы по предупреждению и пресечению коррупционных проявлений.pdf">Материалы по предупреждению и пресечению коррупционных проявлений</a>
                    </div>
                    <div class="document-item">
                        <a href="https://vologda.gosuslugi.ru/ofitsialno/dokumenty/dokumenty-all_5044.html">О реорганизации МУП городского округа города Вологды "ПАТП №1" путем преобразования в акционерное общество "ПАТП №1"</a>
                    </div>
                    <div class="document-item">
                        <a href="https://clck.ru/39T4Ad">Команда Филимонова: время лучших!</a>
                        <p>
                            23 апреля 2024 года стартовал кадровый проект «Команда Филимонова: время лучших!», 
                            направленный на поиск и поддержку талантливых, амбициозных граждан Российской Федерации, 
                            обладающих высоким уровнем управленческих и лидерских качеств.  
                        </p>
                        <p>
                            Проект реализуется в соответствии с <a href="/uploads/Положение о кадровом проекте Вологодской области.pdf">Положением о кадровом проекте Вологодской области 
                            «Команда Филимонова: время лучших!»</a> и включает несколько этапов отбора:
                        </p>
                        <ul>
                            <li><strong>Регистрация участников:</strong> с 23 апреля по 13 мая 2024 года.</li>
                            <li><strong>Оценка и отбор кандидатов:</strong> с 15 мая по 21 мая 2024 года.</li>
                            <li><strong>Подведение итогов:</strong> с 29 мая по 30 мая 2024 года.</li>
                            <li><strong>Этап профессионального развития:</strong> с 3 июня 2024 года.</li>
                        </ul>
                        <p>
                            По итогам конкурса лучшие участники получат возможность пройти стажировки в ведущих 
                            организациях и органах государственной власти, а также принять участие в программах 
                            профессионального развития и повышения квалификации.
                        </p>
                    </div>
                    <div class="document-item">
                        <a href="/uploads/Электронное удостоверение ветерана боевых действий «СВОи».pdf">Электронное удостоверение ветерана боевых действий «СВОи»</a>
                    </div>
                    <div class="document-item">
                        <a href="/uploads/Минздрав_Такzdorovo.ru.pdf">Минздрав_Такzdorovo.ru</a>
                    </div>
                    <div class="document-item">
                        <a href="/uploads/Военная служба по контракту в войсках Росгвардии.pdf">Военная служба по контракту в войсках Росгвардии</a>
                    </div>
                    <div class="document-item">
                        <a href="/uploads/Федеральный путеводитель субъектов РФ.pdf">Информация о формировании Федерального путеводителя жителей субъектов РФ "Регионы России - людям" на официальных интернет-ресурсах</a>
                    </div>
                    <div class="document-item">
                        <a href="/uploads/Рекомендации РОСПОТРЕБНАДЗОРА по профилактике гриппа, орви и короновирусной инфекции.jpg">Рекомендации РОСПОТРЕБНАДЗОРА по профилактике гриппа, орви и короновирусной инфекции</a>
                    </div>
                    <div class="document-item">
                        <a href="/uploads/Формирование Общественного обзора «Стратегия социальной поддержки населения субъектов РФ – 2023»..jpg">Формирование Общественного обзора «Стратегия социальной поддержки населения субъектов РФ – 2023».</a>
                    </div>
                    <div class="document-item">
                        <a href="/uploads/Социально-экономическое развитие Вологды за 2021 год.pdf">Социально-экономическое развитие Вологды за 2021 год</a>
                    </div>
                    <div class="document-item">
                        <a href="/uploads/Конкурс Я больше не курю!.jpg"> Конкурс «Я больше не курю! Расскажи свою историю!». Конкурс проводится с 15 апреля по 15 мая 2022 года в рамках реализации информационно-коммуникационной кампании по формированию мотивации населения к ведению здорового образа жизни.</a>
                    </div>
                    <div class="document-item">
                        <a href="https://vk.com/wall148385942_179280?z=video148385942_456239684%2F715f110a075b0e46c0%2Fpl_post_148385942_179280">Публичный отчет «Экономика»</a>
                    </div>
                    <div class="document-item">
                        <a href="/uploads/«Бюджет города Вологды на 2022 год».pdf">Бюджет города Вологды на 2022 год</a>
                    </div>
                    <div class="document-item">
                        <a href="https://vologda-portal.ru/novosti/index.php?ID=455901&SECTION_ID=151">«Трехстороннее соглашение между властью, бизнесом и профсоюзами Вологды подписали на форуме «Рабочая обстановка»</a>
                    </div>
                    <div class="document-item">
                        <a href="https://vologda-portal.ru/oficialnaya_vologda/index.php?SECTION_ID=5382&ID=455323">Экономический барометр социально-экономического развития города Вологды за 9 месяцев 2021 года</a>
                    </div>
                    <div class="document-item">
                        <a href="/uploads/Информация о сроках уплаты имущественных налогов от МИФНС России № 11 по Вологодской области.pdf">Информация о сроках уплаты имущественных налогов от МИФНС России № 11 по Вологодской области</a>
                    </div>
                    <div class="document-item">
                        <a href="/uploads/«Основные направления развития инфраструктуры городского округа города Вологды в 2021-2023 годах».pdf">Основные направления развития инфраструктуры городского округа города Вологды в 2021-2023 годах</a>
                    </div>
                    <div class="document-item">
                        <a href="https://vologda-portal.ru/novosti/index.php?ID=451656&SECTION_ID=151">Итоги конкурса «Мы выбираем, нас выбирают» подвели в Вологде</a>
                    </div>
                    <div class="document-item">
                        <a href="/uploads/«Экономический барометр социально-экономического развития Городского округа города Вологды за 1 полугодие 2021 года».pdf">Экономический барометр социально-экономического развития Городского округа города Вологды за 1 полугодие 2021 года</a>
                    </div>
                    <div class="document-item">
                        <a href="/uploads/Официальное обращение Председателя Экспертного совета Нагайцева А.А..pdf">Официальное обращение Председателя Экспертного совета Нагайцева А.А. "Вакцинация нации - сила государства!"</a>
                    </div>
                    <div class="document-item">
                        <a href="/uploads/Осторожно! Мошенники!.jpg">Осторожно! Мошенники!</a>
                    </div>
                    <div class="document-item">
                        <a href="/uploads/Заседание Совета по стратегическому развитию муниципального образования «Город Вологда» под руководством Мэра города Вологды Воропанова С.А. состоялось 17 июня 2021 года..pdf">Заседание Совета по стратегическому развитию муниципального образования «Город Вологда» под руководством Мэра города Вологды Воропанова С.А. состоялось 17 июня 2021 года</a>
                    </div>
                    <div class="document-item">
                        <a href="/uploads/Информация КОРОНОВИРУС от 15 июня 2021 года.pdf">Информация "КОРОНОВИРУС" от 15 июня 2021 года</a>
                    </div>
                    <div class="document-item">
                        <a href="https://vologda-portal.ru/novosti/index.php?ID=448059&SECTION_ID=151">От электробусов и электрокаров до зарядной инфраструктуры: выставка электротранспорта прошла в Вологде</a>
                    </div>
                    <div class="document-item">
                        <a href="/uploads/Способы сообщения гражданами в уполномоченные органы о фактах коррупции.pdf">Способы сообщения гражданами в уполномоченные органы о фактах коррупции</a>
                    </div>
                    <div class="document-item">
                        <a href="/uploads/Ближайшие перспективы развития Вологды определены на  Градостроительном совете 6 апреля 2021 года.pdf">Ближайшие перспективы развития Вологды определены на Градостроительном совете 6 апреля 2021 года</a>
                    </div>
                    <div class="document-item">
                        <a href="/uploads/На территории Вологодской области с 21 апреля по 11 мая 2021 года установлен особый противопожарный режим.pdf">На территории Вологодской области с 21 апреля по 11 мая 2021 года установлен особый противопожарный режим</a>
                    </div>
                    <div class="document-item">
                        <a href="/uploads/Публичный доклад о результатах деятельности Администрации города Вологды за 2020 год.pdf">Публичный доклад о результатах деятельности Администрации города Вологды за 2020 год</a>
                    </div>
                    <div class="document-item">
                        <a href="https://vk.com/videos-170941768?section=album_1">ПРОТИВОДЕЙСТВИЕ КОРРУПЦИИ</a>
                    </div>
                    <div class="document-item">
                        <a href="/uploads/Экономический барометр социально-экономического развития муниципального образования «Город Вологда» за 2020 год.pdf">Экономический барометр социально-экономического развития муниципального образования «Город Вологда» за 2020 год</a>
                    </div>
                    <div class="document-item">
                        <strong>Узнайте о своих долгах и способах оплаты в Банке данных исполнительных производств на сайте </strong><a href="https://r35.fssp.gov.ru/">https://r35.fssp.gov.ru/</a>
                        <p>
                            Этот сервис разработан в соответствии с федеральным законом «Об исполнительном производстве». 
                            Он позволяет узнать информацию о должниках, как физических, так и юридических лицах. 
                            С помощью сервиса «Банк данных исполнительных производств» возможно оплатить задолженность
                            или сформировать квитанцию для оплаты.
                        </p>
                    </div>
                    <div  class="document-item">
                        <p><strong>За 30 секунд проверьте, возбуждено ли в отношении вас исполнительное производство</strong></p>
                        <p>
                            Воспользуйтесь услугой "Предоставление информации по находящимся на исполнении исполнительным производствам в отношении физ. и юр. лица":
                        </p>
                        <ul>
                            <li>1. Зайдите на портал <a href="https://www.gosuslugi.ru/">https://www.gosuslugi.ru/</a></li>
                            <li>2. Закажите услугу «Предоставление информации о ходе исполнительного производства (онлайн)»</li>
                        </ul>
                        <p>
                            Перейдите по ссылке <a href="https://www.gosuslugi.ru/10003/9/info">www.gosuslugi.ru/10003/9/info</a>
                            <br><br>
                            Или выберите в Каталоге услуг раздел «Безопасность и правопорядок» категорию «Судебная задолженность»,
                            закажите услугу «Предоставление информации о ходе исполнительного производства (онлайн)».
                        </p>
                    </div>
                    <div class="document-item">
                        <p><strong>У вас есть вопросы к приставу? Экономьте свое время!</strong></p>
                        <p>Подайте электронное обращение через портал Госуслуг</p>
                        <p>Воспользуйтесь услугой "Подача заявлений, ходатайств, объяснений, отводов, жалоб в порядке подчиненности по исполнительному производству":</p>
                        <ul>
                            <li>1. Зайдите на портал</li>
                            <li>2. Закажите услугу «Подача заявлений, ходатайств, объяснений, отводов, жалоб в порядке подчиненности по исполнительному производству»</li>
                        </ul>
                        <p>
                            Перейдите по ссылке <a href="https://www.gosuslugi.ru/404402/1">www.gosuslugi.ru/404402/1</a>
                            <br><br>
                            Или выберите в Каталоге услуг раздел «Органы власти» - «ФССП России», 
                            закажите услугу «Подача заявлений, ходатайств, объяснений, отводов, жалоб в порядке подчиненности по исполнительному производству».
                        </p>
                    </div>
                    <div class="document-item">
                        <a href="/uploads/В учреждениях здравоохранения области стартовала прививочная компания против ГРИППа.pdf">В учреждениях здравоохранения области стартовала прививочная компания против ГРИППа</a>
                    </div>
                    <div class="document-item">
                        <a href="/uploads/Памятка по гриппу и ОРВи.pdf">Памятка по гриппу и ОРВи </a>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer>
        <div class="footer-inner">
            <div class="footer-up">
                <div class="container ds-flx">
                    <div class="footer-block">
                        <div class="title-footer">О нас</div>
                        <div class="about-footer">
                            <div class="footer-list">
                                <div class="contact-item">
                                    <img src="/static/images/phone-fff.svg" alt="">
                                    <div><a href="tel:+78172556670">+7 (8172) 55-66-70</a></div>
                                </div>
                                <div class="contact-item">
                                    <img src="/static/images/time-fff.svg" alt="">
                                    <div>ПН-ПТ 08:00-17:00</div>
                                </div>
                                <div class="contact-item">
                                    <img src="/static/images/email-fff.svg" alt="">
                                    <div><a href="https://e.mail.ru/compose?To=mail@mupatp1.ru">mail@mupatp1.ru</a></div>
                                </div>
                                <div class="contact-item">
                                    <img src="/static/images/geo-fff.svg" alt="">
                                    <div><a href="#contact">ул. Мудрова, 31, Вологда</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="footer-block">
                        <div class="title-footer">Последние публикации</div>
                        <div class="footer-list">
                            <a href="/news">
                                <div class="last-news">
                                    <img src="/static/images/news-item-1.png" alt="">
                                    <div class="last-news-item">
                                        <div class="last-news-title">В учебном классе ПАТП-1 в Вологде прошла встреча
                                            специалистов центра занятости с представителями компании.</div>
                                        <div class="last-news-date">17/01/2025</div>
                                    </div>
                                </div>
                            </a>
                            <a href="/news">
                                <div class="last-news">
                                    <img src="/static/images/news-item-3.png" alt="">
                                    <div class="last-news-item">
                                        <div class="last-news-title">ПАТП №1 ждёт женщин-водителей на работу! И если кто
                                            скажет, что водитель — это не женская работа, то это вовсе не так.</div>
                                        <div class="last-news-date">22/01/2025</div>
                                    </div>
                                </div>
                            </a>
                            <a href="/news">
                                <div class="last-news">
                                    <img src="/static/images/news-item-2.jpeg" alt="">
                                    <div class="last-news-item">
                                        <div class="last-news-title">Для более комфортной и быстрой оплаты во всех
                                            трёхдверных автобусах ПАТП № 1 будут работать четыре терминала.</div>
                                        <div class="last-news-date">07/02/2025</div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="company-item">
                        <a href="https://vk.com/patp1vologda" class="vk-icon">
                            <img src="/static/images/vk.svg" alt="VK" class="vk-default">
                            <img src="/static/images/vk-fff.svg" alt="VK White" class="vk-hover">
                        </a>
                    </div>
                </div>
            </div>
            <div class="footer-low">
                <div class="container">
                    <div class="nav">
                        <ul class="nav-list">
                            <a href="/schedule" class="nav-item">Расписание</a>
                            <a href="/price" class="nav-item">Оплата проезда</a>
                            <a href="/service" class="nav-item">Услуги</a>
                            <a href="/work" class="nav-item">Работа у нас</a>
                            <a href="https://yc.mupatp1.ru" class="nav-item">Учебный центр</a>
                            <a href="/about-us" class="nav-item">О компании</a>
                            <a href="official-information" class="nav-item">Офицальная информация</a>
                            <a href="/your-ticket" class="nav-item">Ваш билет</a>
                        </ul>
                        <ul class="copyright">
                            ©2025 Rogalev
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </footer>
</body>

</html>