<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ваш билет</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="shortcut icon" type="image/x-icon" href="/static/images/favicon.ico">
    <link
        href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Montserrat:wght@400;500;600&display=swap"
        rel="stylesheet">
</head>

<body>
    <header class="header">
        <div class="header-inner">
            <div class="container">
                <div class="nav">
                    <ul class="logo">
                        <a href="/">
                            <img src="/static/images/logo.png" alt="logo">
                        </a>
                    </ul>
                    <ul class="nav-list">
                        <li class="nav-item dropdown">
                            <a href="/schedule">Расписание</a>
                            <ul class="dropdown-menu">
                                <li><a href="https://citybus35.ru">Умный транспорт</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a href="/payment">Оплата проезда</a>
                            <ul class="dropdown-menu">
                                <li><a href="/price">Стоимость проезда</a></li>
                                <li><a href="https://bilet.nspk.ru">Оплата банковской картой</a></li>
                                <li><a href="https://e-vologda.com">Электронная Вологда</a></li>
                                <li><a href="https://t-karta.ru">История поездок (кабинет)</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a href="/service">Услуги</a>
                            <ul class="dropdown-menu">
                                <li><a href="/charter">Заказные перевозки</a></li>
                                <li><a href="/passenger">Пассажирские перевозки</a></li>
                                <li><a href="/children">Перевозка детей</a></li>
                            </ul>
                        </li>
                        <a href="/work" class="nav-item">Работа у нас</a>
                        <a href="https://yc.mupatp1.ru" class="nav-item">Учебный центр</a>
                        <li class="nav-item dropdown">
                            <a href="/about-us">О компании</a>
                            <ul class="dropdown-menu">
                                <li><a href="/news">Новости</a></li>
                                <li><a href="/documents">Документы</a></li>
                                <li><a href="/anti-corruption">Противодействие коррупции</a></li>
                                <li><a href="/contact">Контакты</a></li>
                                <li><a href="https://вашбилет.рф">Ваш билет</a></li>
                                <li><a href="/autopark">Автопарк</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a href="/official-information">Официальная информация</a>
                            <ul class="dropdown-menu">
                                <li><a href="/info-for-police-vologda">Информация от <br> прокуратуры г.
                                        Вологды</a></li>
                            </ul>
                        </li>
                        <a href="/your-ticket" class="nav-item">Ваш билет</a>
                    </ul>
                </div>
            </div>
        </div>
    </header>
    <main class="page-content">
        <div class="container">
            <nav class="breadcrumbs">
                <ul>
                    <li><a href="/">Главная</a></li>  
                    <li><span>Ваш билет</span></li>
                </ul>
            </nav>

            <div class="content-inner">
                <h1>Ваш билет</h1>

                <div class="your-ticket-content">
                    <p><strong>Мобильное приложение «Ваш билет» действует на всех автобусных и троллейбусных маршрутах ПАТП №1.</strong></p>

                    <p>Чтобы воспользоваться оплатой с помощью QR-кода, необходимо скачать бесплатное приложение «Ваш билет» в магазине приложений. В нем есть электронный кошелек, который вы можете пополнять через систему быстрых платежей и со своей банковской карты. С помощью приложения нужно отсканировать QR-код или ввести гаражный номер транспортного средства с афиш, расположенных в салоне автобуса или троллейбуса ПАТП-1 и нажать кнопку «Оплатить».</p>
                    <p>После оплаты вы получите электронный билет, в котором указаны дата и время поездки, а также уникальный символ для визуального контроля. Этот символ будет свой для каждого транспортного средства изменяемый ежедневно.</p>

                    <p><strong>Уважаемые пассажиры, при оплате проезда в общественном транспорте по QR-коду через приложение «Ваш билет» просим быть внимательными!</strong></p>

                    <p>При введении номера автобуса или троллейбуса вручную, нужно использовать не номер маршрута, а гаражный номер транспортного средства, который находится на афише с QR-кодом.  По запросу кондуктора, контролера или водителя вы обязаны предъявить электронный билет на экране смартфона.</p>

                    <p>Также существует возможность покупки электронного проездного билета на месяц, действующего с любой даты, стоимостью 2100,00 рублей.</p>
                    <p>По просьбам пассажиров ПАТП №1 также запущен сервис – возможность купить проездной билет на 1 день, стоимостью 140,00 рублей.  Обращаем ваше внимание, что проездной купленный через приложение «Ваш билет» действует только в автобусах ПАТП №1: №№1, 2, 6, 7, 8, 11, 12, 16, 18, 19, 20, 21, 22, 25, 28, 36, 41, 42, 45, а также в троллейбусе №4</p>

                    <p>Напомним, что купить билет в автобусах и троллейбусах ПАТП № 1 можно несколькими способами: наличными, банковской или транспортной картой и с помощью QR-кода.</p>
                </div>
            </div>
        </div>
    </main>
    <footer>
        <div class="footer-inner">
            <div class="footer-up">
                <div class="container ds-flx">
                    <div class="footer-block">
                        <div class="title-footer">О нас</div>
                        <div class="about-footer">
                            <div class="footer-list">
                                <div class="contact-item">
                                    <img src="/static/images/phone-fff.svg" alt="">
                                    <div><a href="tel:+78172556670">+7 (8172) 55-66-70</a></div>
                                </div>
                                <div class="contact-item">
                                    <img src="/static/images/time-fff.svg" alt="">
                                    <div>ПН-ПТ 08:00-17:00</div>
                                </div>
                                <div class="contact-item">
                                    <img src="/static/images/email-fff.svg" alt="">
                                    <div><a href="https://e.mail.ru/compose?To=mail@mupatp1.ru">mail@mupatp1.ru</a></div>
                                </div>
                                <div class="contact-item">
                                    <img src="/static/images/geo-fff.svg" alt="">
                                    <div><a href="#contact">ул. Мудрова, 31, Вологда</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="footer-block">
                        <div class="title-footer">Последние публикации</div>
                        <div class="footer-list">
                            <a href="/news">
                                <div class="last-news">
                                    <img src="/static/images/news-item-1.png" alt="">
                                    <div class="last-news-item">
                                        <div class="last-news-title">В учебном классе ПАТП-1 в Вологде прошла встреча
                                            специалистов центра занятости с представителями компании.</div>
                                        <div class="last-news-date">17/01/2025</div>
                                    </div>
                                </div>
                            </a>
                            <a href="/news">
                                <div class="last-news">
                                    <img src="/static/images/news-item-3.png" alt="">
                                    <div class="last-news-item">
                                        <div class="last-news-title">ПАТП №1 ждёт женщин-водителей на работу! И если кто
                                            скажет, что водитель — это не женская работа, то это вовсе не так.</div>
                                        <div class="last-news-date">22/01/2025</div>
                                    </div>
                                </div>
                            </a>
                            <a href="/news">
                                <div class="last-news">
                                    <img src="/static/images/news-item-2.jpeg" alt="">
                                    <div class="last-news-item">
                                        <div class="last-news-title">Для более комфортной и быстрой оплаты во всех
                                            трёхдверных автобусах ПАТП № 1 будут работать четыре терминала.</div>
                                        <div class="last-news-date">07/02/2025</div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="company-item">
                        <a href="https://vk.com/patp1vologda" class="vk-icon">
                            <img src="/static/images/vk.svg" alt="VK" class="vk-default">
                            <img src="/static/images/vk-fff.svg" alt="VK White" class="vk-hover">
                        </a>
                    </div>
                </div>
            </div>
            <div class="footer-low">
                <div class="container">
                    <div class="nav">
                        <ul class="nav-list">
                            <a href="/schedule" class="nav-item">Расписание</a>
                            <a href="/price" class="nav-item">Оплата проезда</a>
                            <a href="/service" class="nav-item">Услуги</a>
                            <a href="/work" class="nav-item">Работа у нас</a>
                            <a href="https://yc.mupatp1.ru" class="nav-item">Учебный центр</a>
                            <a href="/about-us" class="nav-item">О компании</a>
                            <a href="official-information" class="nav-item">Офицальная информация</a>
                            <a href="/your-ticket" class="nav-item">Ваш билет</a>
                        </ul>
                        <ul class="copyright">
                            ©2025 Rogalev
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </footer>
</body>

</html>